.newRow
{
    padding-top: 5% !important;
    height: 100%;
    min-height: 75vh;
}

.overflowX
{
    overflow-x: auto;
    overflow-y: hidden;
}

.overflowY
{
    overflow-x: hidden;
    overflow-y: auto;
}

.max50
{
    max-height: 50vh;
}

.footer
{
    width: 100% !important;
}

.changeTextBox
{
    height: 160px !important;
}

.changeAboutBox
{
    height: 120px !important;
    width: 30vw !important;
    max-width: 30vw !important;
    display: inline-block;
}

.askMeStart
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 80vw;
}

.askMeStartText
{
    display: inline-block;
    height: 100px;
}

@media (max-width: 767px)
{
    .newRow
    {
        margin-top: 60px !important;
    }

    .changeTextBox
    {
        height: 100px !important;
        padding: auto !important;
    }
    .changeAboutBox
    {
        text-align: center;
        height: 250px !important;
        display: inline-block;
        width: 80vw !important;
        max-width: 80vw !important;

    }
    .askMeStart
    {
        display: inline-block;
        text-align: center;
        width: 80vw !important;
    }
    .askMeStartText
    {
        height: 100px;
    }
    .chatBubble {
        font-size: 13px;
    }
    .helloContainer
    {
        height: 10% !important;
    }
}

.chatbotfield {
    height: 73vh;
    max-height: 73vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
    position: relative;
    flex-grow: 1;
}

.helloContainer
{
    height: 25%
}

.chatBubble {
    background-color: #ffc451;
    color: black;
    padding: 12px;
    border-radius: 10px 10px 0 10px;
    display: inline-block;
    max-width: 80%;
    word-break: break-word;
    white-space: pre-wrap;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 13px;
}

th, td {
  border: 1px solid #ccc;  /* <- inilah yang bikin border muncul */
  padding: 5px;
  text-align: left;
}

th {
  background-color: #dddddd4e;
}