.navbarImg
{
    height: 40px;
    margin-right: 20px;
}

.contactMeImg {
    transition: all 0.5s ease;
    border-radius: 50% 20% / 10% 40%;
}

.contactMeImg:hover {
    transform: translateY(-4%);
    /* Efek glow di tepi gambar */
    filter: drop-shadow(0 0 15px #ffbb38) drop-shadow(0 0 30px #ffbb38);
}


.imgBorder
{
    transition: border-radius 0.5s;
    border-radius: 50% ;
}

.imgBorder:hover
{
    transition: border-radius 0.5s;
    border-radius: 15px ;
}

@media (max-width: 767px) {

    .contactMeImg {
        scale: 80%;
    }
    .introVid
    {
        width: 500px;
        height: 400px;
    }
    .marginBody
    {
        margin-left: 0% !important;
        margin-right: 0% !important;
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
}

.aboutMeImg:hover
{
    transition: border-radius 0.5s;
}

.hovered {
    transform: scale(1);
    border-radius: 50% 20% / 10% 40% ;
  }

.carouselImg
{
    border-radius: 40px;
    opacity: 50%;
    height: 50%;
}

.carousel
{
    height: 400px !important;
}