  :root {
    --scrollbar-thumb-color: #ffc451;
    --scrollbar-track-color: #1b2328;
  }

  .projectSets::-webkit-scrollbar {
    width: 3px !important; /* Width of the scrollbar */
    height: 3px; /* Width of the scrollbar */
  }
  
  .projectSets::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color); /* Background color of the scrollbar track */
  }
  
  .projectSets::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color); /* Color of the scrollbar thumb */
    width: 3px !important; /* Width of the scrollbar */
    border-radius: 5px; /* Border radius of the scrollbar thumb */
  }
  
  .projectBody::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
  }
  
  .projectBody::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color); /* Background color of the scrollbar track */
  }
  
  .projectBody::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color); /* Color of the scrollbar thumb */
    border-radius: 5px; /* Border radius of the scrollbar thumb */
  }

  .projectSets::-webkit-scrollbar-thumb:hover {
    /* background-color: darken(var(--scrollbar-thumb-color), 10%); Darken scrollbar thumb color on hover */
  }


  .projectSets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .project{
      width: calc(50% - 10px); 
      margin-bottom: 25%;
      text-align: center;
    }
  
  .projectBox {
    border: 1px solid rgba(255, 255, 255, 0.443);
    padding: 4%;
    border-radius: 9px;
    margin-bottom: 15% !important;
    transition: all ease 0.5s;
    height: 100%;
    color: white !important;
  }

  .projectBox:hover
  {
    background-color: #ffffff;
    transition: all ease 0.5s;
    color: black !important;
  }

  .projectBody
  {
    margin-top: 5%;
    height: 36%;
  }
  .projectImgBox
  {
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .projectImage {
    width: 85%; 
    border-radius: 10px;
  }
  
  .projectName {
    margin-top: 10px;
  }


  
  .projectFooter
  {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projectBg
  {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    border-radius: 10px 80px / 120px; 

  }
  
  @media (max-width: 767px) {

    .projectSets {
      padding-right: 2%;
      height: 800px;
      width: 100%;
      overflow-y: auto;
    }
    
    .projectBody
    {
      height: 40% !important;
    }
   
    .project, .projectInDev {
      height: 75%;
      width: 75% !important;
    }

    .project
    {
      margin-bottom: 25%;

    }

    :root {
      --scrollbar-thumb-color: #ffc451;
      --scrollbar-track-color: #1b2328;
    }
  
    .projectSets::-webkit-scrollbar {
      height: 3px; /* Width of the scrollbar */
    }
    
    .projectSets::-webkit-scrollbar-track {
      background: var(--scrollbar-track-color); /* Background color of the scrollbar track */
    }
    
    .projectSets::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb-color); /* Color of the scrollbar thumb */
      border-radius: 5px; /* Border radius of the scrollbar thumb */
    }
    
    .projectBody::-webkit-scrollbar {
      width: 3px; /* Width of the scrollbar */
    }
    
    .projectBody::-webkit-scrollbar-track {
      background: var(--scrollbar-track-color); /* Background color of the scrollbar track */
    }
    
    .projectBody::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb-color); /* Color of the scrollbar thumb */
      border-radius: 5px; /* Border radius of the scrollbar thumb */
    }
  }
  