.skillsets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
  }
  
  .skillBox
  {
    border: 1px solid rgba(255, 255, 255, 0.443);
    border-radius: 9px;
    /* margin: 3%; */
    transition: all ease 0.5s;
    height: 80%;
    color: white !important;
    width: 100% !important;
    padding: 3% !important;

  }

  .skillBox:hover
  {
    background-color: #ffffff;
    transition: all ease 0.5s;
    color: black !important;
    scale: 105%;
  }



  
  .skillImage {
    width: 100% !important; 
  }
  
  .skillName {
    margin-top: 10px;
  }
  

  @media (max-width: 767px) {
    .skillBox
    {
      border: 1px solid rgba(255, 255, 255, 0.443);
      padding: 3%;
      border-radius: 9px;
      transition: all ease 0.5s;
      height: 80%;
      color: white !important;
      width: 100% !important;
    }
    .filterForm
    {
     width: 100% !important;
    }
  }
  